.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #C7C7C7;
}

.page-header__title {
  margin: 0;
  padding: 15px 0;
  font-size: 24px;
  text-transform: uppercase;
  color: #3B3B3B;
}

.page-header__search {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  border: 1px solid #C7C7C7;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}