<aside>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a
          class="nav__link"
          routerLink='/all'
          routerLinkActive="nav__link_active">
          Все
        </a>
        <a
          class="nav__link"
          routerLink='/favorite' 
          routerLinkActive="nav__link_active">
          Любимые
        </a>
        <a
          class="nav__link"
          routerLink='/hidden'
          routerLinkActive="nav__link_active">
          Удаленные
        </a>
      </li>
    </ul>
  </nav>
</aside>
